.container-header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

img{
    width: 40px;
    height: 40px;
}

.container-name{
    width: 200px;
    margin-left: 15px;
    font-weight: 600;
}

.name-user{
    font-size: 24px;
    color: #F5F5F5;
    text-shadow: gray 0 1px 2px ;
}

/* Estilos para pantallas pequeñas */
/* max = hasta*/
@media (max-width: 600px) {
    /*
        iPhone SE (375px de ancho).
        Samsung Galaxy S8 (360px de ancho).
    */
}
  
  /* Estilos para pantallas medianas */
  /* min = desde*/
  @media (min-width: 600px) and (max-width: 900px) {
    /*
        iPad Mini (768px en orientación vertical).
        iPhone 14 Pro Max (390px en modo horizontal).
    */
    .container-img, 
    img{
        width: 50px;
        height: 50px;
    }

    .container-name{
        width: 230px;
    }

    .name-user{
        font-size: 30px;
    }
  }