.todo-list-doing{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media (min-width: 600px) and (max-width: 900px) {
    /*
      iPad Mini (768px en orientación vertical).
      iPhone 14 Pro Max (390px en modo horizontal).
    */
    .container-list-doing h2{
        font-size: 33px;
    }
}  