.container-todo-search{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.input-search{
    border: 2px solid #F5F5F5;
    background: #E8E8E8;
    font-size: 16px;
    height: 35px;
    width: 365px;
    border-radius: 7px;
    padding-left: 9px;
    margin-left: 26px;
    outline: none;
    color: gray;
}

.input-search:focus{
  outline: auto;
  outline-color: #FFFFE0;
}

.icon-search{
    position: relative;
    right: 40px;
    fill: gray;
    height: 25px;
    width: 25px;
}

.input-search:disabled{
  opacity: 75%;
}

/* Estilos para pantallas pequeñas */
/* max = hasta*/
@media (max-width: 600px) {
    /*
      iPhone SE (375px de ancho).
      Samsung Galaxy S8 (360px de ancho).
    */
    .container-todo-search{
      margin-top: 0;
    }

    .input-search{
        height: 40px;
        font-size: 18px;
    }

    .icon-search{
        height: 30px;
        width: 30px;
    }
  }
  
  /* Estilos para pantallas medianas */
  /* min = desde*/
  @media (min-width: 600px) and (max-width: 900px) {
    /*
      iPad Mini (768px en orientación vertical).
      iPhone 14 Pro Max (390px en modo horizontal).
    */
    .container-todo-search{
        margin-top: 0;
    }

    .input-search{
        height: 50px;
        width: 446px;
        font-size: 25px;
        padding-left: 15px;
    }

    .icon-search{
        right: 50px;
        height: 40px;
        width: 40px;
    }
  }